.extension-schedule-btn {
    text-align:center;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-family: 'Open Sans', Helvetica, Arial, 'Liberation Sans', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    height: 29px;
    line-height: 28px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #47fe41;
    background-image: -webkit-linear-gradient(top,#47fe41, #36b02f);
    background-image: linear-gradient(top,#47fe41,#36b02f);
    border: 1px solid #36b02f;
    color: #fff;
}

.extension-schedule-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #47fe41;
    background-image: -webkit-linear-gradient(top,#47fe41,#36b02f);
    background-image: linear-gradient(top,#47fe41,#36b02f);
    border: 1px solid #36b02f;
    border-bottom-color: #36b02f;
}

.extension-schedule-mail-btn {
    text-align:center;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-family: 'Open Sans', Helvetica, Arial, 'Liberation Sans', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    height: 29px;
    line-height: 28px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #47fe41;
    background-image: -webkit-linear-gradient(top,#47fe41, #36b02f);
    background-image: linear-gradient(top,#47fe41,#36b02f);
    border: 1px solid #36b02f;
    color: #fff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute !important;
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* 2% from the top and centered */
    padding: 5px;
    border: 1px solid #888;
    overflow: scroll;
}

.modal-content p,h3 {
    text-align: center;
}

.modal-content div.flatpickr-calendar {
    display: block;
    margin : 0 auto;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

#extension_settings {
    width: 150px;
}

#save_extension_settings {
    text-align:center;
    color: #fff;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 2px;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    font-size: 11px;
    font-weight: bolder;
}